%link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css"}
- content_for :extra_javascript do
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"
  :javascript
    $(document).ready(function() {
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
        // put your options and callbacks here
        header: {
          left: 'today prev,next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',
        allDaySlot: false,
        backgroundColor: 'blue',
        eventColor: 'pink',
        eventTextColor: 'grey',
        events: #{events},
        businessHours: {
          // days of week. an array of zero-based day of week integers (0=Sunday)
          dow: #{dow},
          start: '#{start_time}', // a start time (10am in this example)
          end: '#{end_time}', // an end time (6pm in this example)
          color: 'black'
        }
      })
    });
  :javascript
    $(function () {
      $('#datetimepicker').datetimepicker({
        minDate: moment(),
        sideBySide: true,
        inline: true,
        format: "MM/DD/YYYY H:mm",
        stepping: 15,
        debug: true
      });
    });


= render :partial => "transactions/conversation_header", locals: {other_party: conversation_other_party}

.centered-section-wide
  = render :partial => "transactions/details", locals: {role: role, tx: transaction, transaction_model: transaction_model, listing: listing, is_author: is_author, price_break_down_locals: price_break_down_locals}

  = render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages, transaction_model: transaction_model}
